*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Optima, Candara, 'Noto Sans';
}
.container{
    height: 100vh;
    display: flex;
    background-color: #4158D0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    
}
.left__part{
    width: 70vw;
    height: 100vh;
}
img {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.right__part{

width: 100%;
height: 100vh;
}

.title_background{

   height: 30vh;
   display: flex;
   align-items: center;
   margin-left: 2rem;
}
.title {
    width: 80%;
    font-size: 1.5rem;
}
.info{
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}

.left__column,
.right__column{
    margin-left: 2.1rem;
    display: flex;
    flex-direction: column;
}                                                                                  
.left__column > div, .right__column > div{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}
.error {
    margin-bottom: 6px;
}
input {
    width: 12rem;
    height: 1.4rem;
    border: none;
}

.submission {
    height: 20vh;
    margin-left: 2.2rem;
    margin-top: 2rem;

}

button {
    width: 12rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 1.2rem;


}
button:hover{
    background: linear-gradient(90deg, #010a5c 0%, #1eb9e4 100%);
   
}
a {
    text-decoration: none;
    font-size: 1.1rem;
    color:linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}